# Ignore Python cache and virtual environment
__pycache__/
*.pyc
venv/
env/

# Ignore environment variables file
.env

#ignore videos
storage/videos

# Ignore logs and database
logs/
*.log
*.sqlite3

# Ignore coverage reports
htmlcov/
.coverage
coverage.xml

# Ignore PyCharm project files
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore pytest cache
.pytest_cache/

# Ignore mypy cache
.mypy_cache/

# Ignore flask-specific files
instance/

